.task-container {
    max-width: 300px;
    min-width: 300px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid wheat;

}

.task-title {
    margin: 2px;
}

.task-discription {
    margin: 5px;
}

.task-priority {
    position: absolute;
    right: 0;
    top: 0;
    background-color: blue;
    color: white;
}